.form-section {
    margin-top: 200px;

    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px 0;

        &__title {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 125%;
            letter-spacing: 0.02em;
            color: #292F36;
            width: 644px;
            text-align: center;
        }

        &-form {
            display: flex;
            flex-wrap: wrap;
            width: 796px;
            gap: 50px 20px;

            &__input {
                width: 378px;
                height: 45px;
                border: none;
                border-bottom: 1px solid #000;
                outline: none;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 0.01em;
                color: #4D5053;
            }

            .message {
                width: 795px;
                height: 175px;
            }
        }
    }
}