.header {
    &-block {
        padding-top: 13px;

        &-flexbox {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-nav {
                &-ul {
                    gap: 0 31px;

                    &-li {
                        padding-top: 20px;
                        &__link {
                            font-family: 'Jost';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 125%;
                            color: #292F36;
                        }
                    }
                }
            }
        }
    }
}